swagger: '2.0'
schemes:
  - https
host: api-sandbox.etask.com
basePath: /neon/app.etask/api/v1
info:
  description: >
    This is an **example** API to demonstrate features of the API for eTASK. The
    API ist based on the OpenAPI specification (fka Swagger 2.0). 


    **Do NOT use the API in production yet.**


    We hope do go online soon. Follow us on [Twitter](https://twitter.com/etask)
    to stay in tune.



    ## Introduction

    This specification is intended to to be a good starting point for learning
    the eTASK API. We have described the API in the  

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).


    It it based on features of
    [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)
    tool and the

    [ReDoc](https://github.com/Rebilly/ReDoc) documentation engine. So beyond
    the standard OpenAPI syntax we use a few 

    [vendor
    extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md)
    to make it as easy as possible for you, to understand and use our API.


    ## OpenAPI Specification

    The OpenAPI Specification defines a standard, language-agnostic interface to
    REST APIs which

    allows both humans and computers to discover and understand the capabilities
    of the service without access to source

    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can 

    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what

    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.


    We provide sample code for some client environment, like

    * C#/.NET

    * Javascript


    If this does not fit in your preferred environment, you can [generate your
    own client library](https://github.com/swagger-api/swagger-codegen).


    See our [api repository](https://github.com/e-task/EtaskAPI) for more
    information about the history of the API.
  title: Etask
  version: 1.0.0
  termsOfService: 'https://www.etask.de/terms/'
  contact:
    email: api@etask.de
    url: 'https://www.etask.de'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://e-task.github.io/EtaskAPI/logo.png'
    backgroundColor: '#FFFFFF'
externalDocs:
  description: Find out how our API evolved over the time an.
  url: 'https://github.com/e-task/EtaskAPI'
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: General
    description: Genaral operations
  - name: Accounting
    description: Description of Accounting
  - name: SpaceManagement
    description: Description of SpaceManagement
  - name: System
    description: Operations for maintaining an eTASK web app
  - name: User
    description: Operations about user
securityDefinitions:
  basic_auth:
    type: basic
