{
  "x-generator": "NSwag v11.20.1.0 (NJsonSchema v9.12.0.0 (Newtonsoft.Json v11.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "eTASK Universal BIM API",
    "description": "Access all the data in you real estate portfolio. Use all information, documents, BIM models and processes through the unified eTASK Universal BIM API. The API  offers a simple, fast and secure Access, based on the Open API specification. Write Apps, integrate you data into other systems and digitize you workflow with the help of this API.",
    "termsOfService": "Nutzungsbedingungen",
    "contact": {
      "name": "eTASK Immobilien Software GmbH",
      "email": "api@etask.de"
    },
    "license": {
      "name": "License",
      "url": "https://www.etask.de/wp-content/uploads/etask_agb.pdf"
    },
    "version": "0.0.1"
  },
  "host": "dotnet.etask.de",
  "basePath": "/API",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/Department/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Department_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Department"
              }
            }
          }
        }
      }
    },
    "/api/Department/All": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Department_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Department"
              }
            }
          }
        }
      }
    },
    "/api/Department/{id}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Department_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Department/Create": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Department_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Department"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Department/Update": {
      "put": {
        "tags": [
          "Department"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Department_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Building/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Building_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Building"
              }
            }
          }
        }
      }
    },
    "/api/Building/All": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Building_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Building"
              }
            }
          }
        }
      }
    },
    "/api/Building/{id}": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Building_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Building"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Building/Create": {
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Building_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Building"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Building"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Building/Update": {
      "put": {
        "tags": [
          "Building"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Building_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/CostCenter/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "CostCenter"
        ],
        "summary": "Gets the specified page.",
        "operationId": "CostCenter_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CostCenter"
              }
            }
          }
        }
      }
    },
    "/api/CostCenter/All": {
      "get": {
        "tags": [
          "CostCenter"
        ],
        "summary": "Get a list of all items.",
        "operationId": "CostCenter_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CostCenter"
              }
            }
          }
        }
      }
    },
    "/api/CostCenter/{id}": {
      "get": {
        "tags": [
          "CostCenter"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "CostCenter_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/CostCenter"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/CostCenter/Create": {
      "post": {
        "tags": [
          "CostCenter"
        ],
        "summary": "Posts the specified item.",
        "operationId": "CostCenter_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/CostCenter"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/CostCenter"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/CostCenter/Update": {
      "put": {
        "tags": [
          "CostCenter"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "CostCenter_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Floor/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Floor"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Floor_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Floor"
              }
            }
          }
        }
      }
    },
    "/api/Floor/All": {
      "get": {
        "tags": [
          "Floor"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Floor_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Floor"
              }
            }
          }
        }
      }
    },
    "/api/Floor/{id}": {
      "get": {
        "tags": [
          "Floor"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Floor_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Floor/Create": {
      "post": {
        "tags": [
          "Floor"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Floor_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Floor"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Floor/Update": {
      "put": {
        "tags": [
          "Floor"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Floor_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Person/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Person_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Person"
              }
            }
          }
        }
      }
    },
    "/api/Person/All": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Person_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Person"
              }
            }
          }
        }
      }
    },
    "/api/Person/{id}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Person_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Person"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Person/Create": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Person_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Person"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Person"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Person/Update": {
      "put": {
        "tags": [
          "Person"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Person_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/PersonType/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "PersonType"
        ],
        "summary": "Gets the specified page.",
        "operationId": "PersonType_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonType"
              }
            }
          }
        }
      }
    },
    "/api/PersonType/All": {
      "get": {
        "tags": [
          "PersonType"
        ],
        "summary": "Get a list of all items.",
        "operationId": "PersonType_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonType"
              }
            }
          }
        }
      }
    },
    "/api/PersonType/{id}": {
      "get": {
        "tags": [
          "PersonType"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "PersonType_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/PersonType"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/PersonType/Create": {
      "post": {
        "tags": [
          "PersonType"
        ],
        "summary": "Posts the specified item.",
        "operationId": "PersonType_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/PersonType"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/PersonType"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/PersonType/Update": {
      "put": {
        "tags": [
          "PersonType"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "PersonType_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Room/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Room"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Room_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Room"
              }
            }
          }
        }
      }
    },
    "/api/Room/All": {
      "get": {
        "tags": [
          "Room"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Room_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Room"
              }
            }
          }
        }
      }
    },
    "/api/Room/{id}": {
      "get": {
        "tags": [
          "Room"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Room_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Room/Create": {
      "post": {
        "tags": [
          "Room"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Room_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Room"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Room/Update": {
      "put": {
        "tags": [
          "Room"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Room_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Site/Paged/{page}/{limit}": {
      "get": {
        "tags": [
          "Site"
        ],
        "summary": "Gets the specified page.",
        "operationId": "Site_GetPaged",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "The limit on page.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of items specified by offset and limit",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Site"
              }
            }
          }
        }
      }
    },
    "/api/Site/All": {
      "get": {
        "tags": [
          "Site"
        ],
        "summary": "Get a list of all items.",
        "operationId": "Site_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns a list of all items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Site"
              }
            }
          }
        }
      }
    },
    "/api/Site/{id}": {
      "get": {
        "tags": [
          "Site"
        ],
        "summary": "Gets the by identifier.",
        "operationId": "Site_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "expand",
            "in": "query",
            "description": "The list of properties to expand in result",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "returns an item specified by given identifier",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "Parameter missing 'id'"
          }
        }
      }
    },
    "/api/Site/Create": {
      "post": {
        "tags": [
          "Site"
        ],
        "summary": "Posts the specified item.",
        "operationId": "Site_Post",
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "description": "The item.",
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "creates an item and returns the new item",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "400": {
            "description": "if given item is invalid"
          }
        }
      }
    },
    "/api/Site/Update": {
      "put": {
        "tags": [
          "Site"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "Site_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "description": "The values.",
            "schema": {
              "type": "array",
              "items": {}
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "updates an specified item by given identifier"
          },
          "404": {
            "description": "Object not found!"
          },
          "400": {
            "description": "if item is not valid"
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/api/Dummy": {
      "get": {
        "tags": [
          "Dummy"
        ],
        "summary": "Get all \"dummies\"\n            ",
        "operationId": "Dummy_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "System.Diagnostic.Debug.WriteLine('Hello Dummy');"
          },
          {
            "lang": "javascript",
            "source": "console.log('Hello Dummy');"
          }
        ]
      }
    },
    "/api/Dummy/{id}": {
      "get": {
        "tags": [
          "Dummy"
        ],
        "summary": "Gets a the specified dummy by identifier.\n            ",
        "operationId": "Dummy_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dummy"
        ],
        "summary": "Deletes the specified identifier.\n            ",
        "operationId": "Dummy_Delete",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/Create": {
      "post": {
        "tags": [
          "Dummy"
        ],
        "summary": "Creates the new dummy.\n            ",
        "operationId": "Dummy_Post",
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "description": "The value.",
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/Update": {
      "put": {
        "tags": [
          "Dummy"
        ],
        "summary": "updates a specified dummy by identifier.\n            ",
        "operationId": "Dummy_Put",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The identifier.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "value",
            "in": "body",
            "required": true,
            "description": "The value.",
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    }
  },
  "definitions": {
    "Department": {
      "allOf": [
        {
          "$ref": "#/definitions/DepartmentBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "DepartmentBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "CompanyAddress",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Departments": {
          "$ref": "#/definitions/Departments"
        },
        "CostCenters": {
          "$ref": "#/definitions/CostCenters"
        },
        "AllocationDepartmentToRooms": {
          "$ref": "#/definitions/AllocationDepartmentToRooms"
        },
        "Persons": {
          "$ref": "#/definitions/Persons"
        },
        "BuildingType": {
          "$ref": "#/definitions/BuildingType"
        },
        "CompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "ParentDepartment": {
          "$ref": "#/definitions/Department"
        },
        "Person": {
          "$ref": "#/definitions/Person"
        },
        "RegionId": {
          "$ref": "#/definitions/PortfolioLevel3"
        },
        "BackgroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "BackgroundColorRgba": {
          "type": "string",
          "maxLength": 8
        },
        "Code": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1
        },
        "ForegroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 1
        },
        "Pattern": {
          "type": "integer",
          "format": "int32"
        },
        "QuantityOfEmployees": {
          "type": "number",
          "format": "decimal"
        },
        "RgbaForegroundColour": {
          "type": "string",
          "maxLength": 8
        },
        "SearchString": {
          "type": "string",
          "maxLength": 4000
        },
        "ShortDesignation": {
          "type": "string",
          "maxLength": 50
        }
      }
    },
    "Departments": {
      "type": "object",
      "additionalProperties": false
    },
    "CostCenters": {
      "type": "object",
      "additionalProperties": false
    },
    "AllocationDepartmentToRooms": {
      "type": "object",
      "additionalProperties": false
    },
    "Persons": {
      "type": "object",
      "additionalProperties": false
    },
    "BuildingType": {
      "allOf": [
        {
          "$ref": "#/definitions/BuildingTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "BuildingTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "CompanyAddress": {
      "allOf": [
        {
          "$ref": "#/definitions/CompanyAddressBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "CompanyAddressBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "ActivationForRegistrationManagement",
        "CompanyName",
        "ContactPersonForSendingMails",
        "Customer",
        "ExportFlag",
        "IsInternalCompany",
        "IxbNo",
        "Lessee",
        "Lessor",
        "Manufacturer",
        "Orderer",
        "Proprietor",
        "ServiceProvider",
        "ShowInEmergencylist",
        "Supplier"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Departments": {
          "$ref": "#/definitions/Departments"
        },
        "AdditionalAddresses": {
          "$ref": "#/definitions/AdditionalAddresses"
        },
        "CompanyEvaluations": {
          "$ref": "#/definitions/CompanyEvaluations"
        },
        "AdditionalCompanyTrades": {
          "$ref": "#/definitions/AdditionalCompanyTrades"
        },
        "UserGroups": {
          "$ref": "#/definitions/UserGroups"
        },
        "Assets": {
          "$ref": "#/definitions/Assets"
        },
        "Responsibilities": {
          "$ref": "#/definitions/Responsibilities"
        },
        "Debitors": {
          "$ref": "#/definitions/Debitors"
        },
        "Creditors": {
          "$ref": "#/definitions/Creditors"
        },
        "ConstructionProjects": {
          "$ref": "#/definitions/ConstructionProjects"
        },
        "Offers": {
          "$ref": "#/definitions/Offers"
        },
        "VisitorLists": {
          "$ref": "#/definitions/VisitorLists"
        },
        "Persons": {
          "$ref": "#/definitions/Persons"
        },
        "ContractsOfCustomer": {
          "$ref": "#/definitions/Contracts"
        },
        "ContractsOfContractor": {
          "$ref": "#/definitions/Contracts"
        },
        "AddressTyp": {
          "type": "integer",
          "format": "int32"
        },
        "CostCenter": {
          "$ref": "#/definitions/CostCenter"
        },
        "Trade": {
          "$ref": "#/definitions/Trade"
        },
        "AccountingSystem": {
          "type": "string",
          "maxLength": 50
        },
        "ActivationForRegistrationManagement": {
          "type": "boolean"
        },
        "AreaCode": {
          "type": "string",
          "maxLength": 10
        },
        "BackgroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Birthday": {
          "type": "string",
          "maxLength": 50
        },
        "Code": {
          "type": "string",
          "maxLength": 50
        },
        "CollectedBy": {
          "type": "string",
          "maxLength": 50
        },
        "CollectionDate": {
          "type": "string",
          "format": "date-time"
        },
        "CompanyName": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "CompanyName2": {
          "type": "string",
          "maxLength": 50
        },
        "CompanyName3": {
          "type": "string",
          "maxLength": 50
        },
        "CompanyNameOndoorplate": {
          "type": "string",
          "maxLength": 50
        },
        "ContactPerson": {
          "type": "string",
          "maxLength": 50
        },
        "ContactPersonForSendingMails": {
          "type": "boolean"
        },
        "ContactPersonPhoneNo": {
          "type": "string",
          "maxLength": 50
        },
        "ContractorNo": {
          "type": "string",
          "maxLength": 10
        },
        "Country": {
          "type": "string",
          "maxLength": 60
        },
        "CountryDialingCode": {
          "type": "string",
          "maxLength": 10
        },
        "Customer": {
          "type": "boolean"
        },
        "Department": {
          "type": "string",
          "maxLength": 50
        },
        "EMailAddress": {
          "type": "string",
          "maxLength": 50
        },
        "EMailBuinessContact": {
          "type": "string",
          "maxLength": 100
        },
        "EMailPersonalContact": {
          "type": "string",
          "maxLength": 100
        },
        "EMailPrivate": {
          "type": "string",
          "maxLength": 100
        },
        "ExportFlag": {
          "type": "number",
          "format": "decimal"
        },
        "ExternalId": {
          "type": "integer",
          "format": "int32"
        },
        "FaxNo": {
          "type": "string",
          "maxLength": 50
        },
        "FaxNoOfficial": {
          "type": "string",
          "maxLength": 50
        },
        "FaxNoPrivate": {
          "type": "string",
          "maxLength": 50
        },
        "FirstName": {
          "type": "string",
          "maxLength": 50
        },
        "ForegroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Function": {
          "type": "string",
          "maxLength": 50
        },
        "Gender": {
          "type": "string",
          "maxLength": 5
        },
        "Group": {
          "type": "string",
          "maxLength": 50
        },
        "GroupCode": {
          "type": "string",
          "maxLength": 50
        },
        "InformationText": {
          "type": "string",
          "maxLength": 250
        },
        "IsInternalCompany": {
          "type": "boolean"
        },
        "IxbNo": {
          "type": "boolean"
        },
        "LastContactmeeting": {
          "type": "string",
          "maxLength": 50
        },
        "LastName": {
          "type": "string",
          "maxLength": 50
        },
        "Lessee": {
          "type": "boolean"
        },
        "Lessor": {
          "type": "boolean"
        },
        "LetterSalutation": {
          "type": "string",
          "maxLength": 50
        },
        "MailingAddress": {
          "type": "string",
          "maxLength": 400
        },
        "Manufacturer": {
          "type": "boolean"
        },
        "MobilePhoneNo": {
          "type": "string",
          "maxLength": 50
        },
        "NextContactmeeting": {
          "type": "string",
          "maxLength": 50
        },
        "Orderer": {
          "type": "boolean"
        },
        "OurCustomerNo": {
          "type": "string",
          "maxLength": 50
        },
        "PartnerNo": {
          "type": "string",
          "maxLength": 50
        },
        "Pattern": {
          "type": "integer",
          "format": "int32"
        },
        "PhoneMobile": {
          "type": "string",
          "maxLength": 50
        },
        "PhoneNo": {
          "type": "string",
          "maxLength": 50
        },
        "PhoneNoOfficial": {
          "type": "string",
          "maxLength": 50
        },
        "PhoneNoPrivate": {
          "type": "string",
          "maxLength": 50
        },
        "PhoneNumberCentral": {
          "type": "string",
          "maxLength": 50
        },
        "PoBox": {
          "type": "string",
          "maxLength": 15
        },
        "PostalCodeOfPoBox": {
          "type": "string",
          "maxLength": 12
        },
        "Proprietor": {
          "type": "boolean"
        },
        "Remarks": {
          "type": "string",
          "maxLength": 255
        },
        "RemarksAdditional": {
          "type": "string",
          "maxLength": 255
        },
        "SalesTaxId": {
          "type": "string",
          "maxLength": 12
        },
        "ServiceProvider": {
          "type": "boolean"
        },
        "ShowInEmergencylist": {
          "type": "boolean"
        },
        "Status": {
          "type": "string",
          "maxLength": 255
        },
        "StreetAddress": {
          "type": "string",
          "maxLength": 50
        },
        "Superior": {
          "type": "string",
          "maxLength": 50
        },
        "Supplier": {
          "type": "boolean"
        },
        "Title": {
          "type": "string",
          "maxLength": 30
        },
        "TitleForm": {
          "type": "string",
          "maxLength": 50
        },
        "Town": {
          "type": "string",
          "maxLength": 50
        },
        "UserNameFmPortal": {
          "type": "string",
          "maxLength": 50
        },
        "Website": {
          "type": "string",
          "maxLength": 200
        },
        "WebSitePrivate": {
          "type": "string",
          "maxLength": 100
        },
        "ZipCode": {
          "type": "string",
          "maxLength": 12
        }
      }
    },
    "AdditionalAddresses": {
      "type": "object",
      "additionalProperties": false
    },
    "CompanyEvaluations": {
      "type": "object",
      "additionalProperties": false
    },
    "AdditionalCompanyTrades": {
      "type": "object",
      "additionalProperties": false
    },
    "UserGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "Assets": {
      "type": "object",
      "additionalProperties": false
    },
    "Responsibilities": {
      "type": "object",
      "additionalProperties": false
    },
    "Debitors": {
      "type": "object",
      "additionalProperties": false
    },
    "Creditors": {
      "type": "object",
      "additionalProperties": false
    },
    "ConstructionProjects": {
      "type": "object",
      "additionalProperties": false
    },
    "Offers": {
      "type": "object",
      "additionalProperties": false
    },
    "VisitorLists": {
      "type": "object",
      "additionalProperties": false
    },
    "Contracts": {
      "type": "object",
      "additionalProperties": false
    },
    "CostCenter": {
      "allOf": [
        {
          "$ref": "#/definitions/CostCenterBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "CostCenterBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "CompanyAddress",
        "Billable",
        "CanBePostedTo",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Buildings": {
          "$ref": "#/definitions/Buildings"
        },
        "CostCenterManagers": {
          "$ref": "#/definitions/CostCenterManagers"
        },
        "RoomCostCenters": {
          "$ref": "#/definitions/RoomCostCenters"
        },
        "CompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CostCenterType": {
          "$ref": "#/definitions/CostCenterType"
        },
        "Department": {
          "$ref": "#/definitions/Department"
        },
        "BackgroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Billable": {
          "type": "boolean"
        },
        "CanBePostedTo": {
          "type": "boolean"
        },
        "Code": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1
        },
        "CompanyCode": {
          "type": "string",
          "maxLength": 10
        },
        "ExternalCode": {
          "type": "string",
          "readOnly": true,
          "maxLength": 30
        },
        "ForegroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Hierarchy": {
          "type": "string",
          "maxLength": 30
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Pattern": {
          "type": "integer",
          "format": "int32"
        },
        "PersonInChargeForCostcenter": {
          "type": "string",
          "maxLength": 50
        },
        "PersonResponsibleForCostcenter": {
          "type": "string",
          "maxLength": 50
        },
        "ValidFrom": {
          "type": "string",
          "format": "date-time"
        },
        "ValidTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Buildings": {
      "type": "object",
      "additionalProperties": false
    },
    "CostCenterManagers": {
      "type": "object",
      "additionalProperties": false
    },
    "RoomCostCenters": {
      "type": "object",
      "additionalProperties": false
    },
    "CostCenterType": {
      "allOf": [
        {
          "$ref": "#/definitions/CostCenterTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "CostCenterTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "CostCenterBuildings": {
          "$ref": "#/definitions/CostCenterBuildings"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "CostCenterBuildings": {
      "type": "object",
      "additionalProperties": false
    },
    "Trade": {
      "allOf": [
        {
          "$ref": "#/definitions/TradeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "TradeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "CompanyAddresses": {
          "$ref": "#/definitions/CompanyAddresses"
        },
        "TradeGroups": {
          "$ref": "#/definitions/TradeGroups"
        },
        "AssetCategory": {
          "$ref": "#/definitions/AssetCategory"
        },
        "Code": {
          "type": "string",
          "maxLength": 3,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        }
      }
    },
    "CompanyAddresses": {
      "type": "object",
      "additionalProperties": false
    },
    "TradeGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "AssetCategory": {
      "allOf": [
        {
          "$ref": "#/definitions/AssetCategoryBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "AssetCategoryBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Trades": {
          "$ref": "#/definitions/Trades"
        },
        "Layers": {
          "$ref": "#/definitions/Layers"
        },
        "GefmaCostGroups": {
          "$ref": "#/definitions/GefmaCostGroups"
        },
        "ObjectTypes": {
          "$ref": "#/definitions/ObjectTypes"
        },
        "Tasks": {
          "$ref": "#/definitions/Tasks"
        },
        "Measures": {
          "$ref": "#/definitions/Measures"
        },
        "CadStatus": {
          "$ref": "#/definitions/CadState"
        },
        "Code": {
          "type": "string",
          "maxLength": 250,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 250,
          "minLength": 1
        }
      }
    },
    "Trades": {
      "type": "object",
      "additionalProperties": false
    },
    "Layers": {
      "type": "object",
      "additionalProperties": false
    },
    "GefmaCostGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "ObjectTypes": {
      "type": "object",
      "additionalProperties": false
    },
    "Tasks": {
      "type": "object",
      "additionalProperties": false
    },
    "Measures": {
      "type": "object",
      "additionalProperties": false
    },
    "CadState": {
      "allOf": [
        {
          "$ref": "#/definitions/CadStateBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "CadStateBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 15
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "Person": {
      "allOf": [
        {
          "$ref": "#/definitions/PersonBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PersonBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Salutation",
        "EMail",
        "GivenName",
        "Inactive",
        "IsAdmin",
        "PersonnelNumberPrimary",
        "SurName"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "ParkingSpaces": {
          "$ref": "#/definitions/ParkingSpaces"
        },
        "Assets": {
          "$ref": "#/definitions/Assets"
        },
        "CardAssignments": {
          "$ref": "#/definitions/CardAssignments"
        },
        "AllocationAccessRightToPersons": {
          "$ref": "#/definitions/AllocationAccessRightToPersons"
        },
        "Communications": {
          "$ref": "#/definitions/Communications"
        },
        "PersonInRooms": {
          "$ref": "#/definitions/PersonInRooms"
        },
        "Keys": {
          "$ref": "#/definitions/Keys"
        },
        "CompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CostCenterPrimary": {
          "$ref": "#/definitions/CostCenter"
        },
        "CostCenterSecondary": {
          "$ref": "#/definitions/CostCenter"
        },
        "Department": {
          "$ref": "#/definitions/Department"
        },
        "EmployeeFunction": {
          "$ref": "#/definitions/EmployeeFunction"
        },
        "PersonType": {
          "$ref": "#/definitions/PersonType"
        },
        "PersonWorkflowTicket": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/WorkflowTicket"
            }
          ]
        },
        "Salutation": {
          "$ref": "#/definitions/Salutation"
        },
        "Site": {
          "$ref": "#/definitions/Site"
        },
        "SourceOfPersonData": {
          "$ref": "#/definitions/DataSourcesOfPersonData"
        },
        "Superior": {
          "$ref": "#/definitions/Person"
        },
        "CodeOfDepartment": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "DateOfBirth": {
          "type": "string",
          "format": "date-time"
        },
        "DateOfEmployment": {
          "type": "string",
          "format": "date-time"
        },
        "DepartmentLongName": {
          "type": "string",
          "maxLength": 150
        },
        "DepartmentName": {
          "type": "string",
          "maxLength": 40
        },
        "DoorLabelText": {
          "type": "string",
          "maxLength": 255
        },
        "EMail": {
          "type": "string",
          "maxLength": 96,
          "minLength": 1
        },
        "ExitDate": {
          "type": "string",
          "format": "date-time"
        },
        "FaxNumber": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "GivenName": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Inactive": {
          "type": "boolean"
        },
        "IsAdmin": {
          "type": "boolean",
          "readOnly": true
        },
        "LdapImportIdentifier": {
          "type": "string",
          "readOnly": true,
          "maxLength": 256
        },
        "Location": {
          "type": "string",
          "maxLength": 150
        },
        "Location1": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "Locked": {
          "type": "boolean"
        },
        "LoginFailed": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "LoginName": {
          "type": "string",
          "maxLength": 50
        },
        "MobilePhoneNo": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "NumerOfFailedLoginAttempts": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "Password": {
          "type": "string",
          "maxLength": 255
        },
        "PasswordExpiresOn": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "PasswordNeverExpires": {
          "type": "boolean"
        },
        "PersonnelNumberPrimary": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "PersonnelNumberSecondary": {
          "type": "string",
          "maxLength": 50
        },
        "PhoneNumberOffice": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "PhoneNumberPrivate": {
          "type": "string",
          "maxLength": 20
        },
        "Pseudonym": {
          "type": "string",
          "maxLength": 100
        },
        "Remark": {
          "type": "string",
          "maxLength": 255
        },
        "SocialSecurityNumber": {
          "type": "string",
          "maxLength": 50
        },
        "StreetAddress": {
          "type": "string",
          "maxLength": 150
        },
        "SurName": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Title": {
          "type": "string",
          "maxLength": 50
        },
        "ZipCode": {
          "type": "string",
          "maxLength": 50
        }
      }
    },
    "ParkingSpaces": {
      "type": "object",
      "additionalProperties": false
    },
    "CardAssignments": {
      "type": "object",
      "additionalProperties": false
    },
    "AllocationAccessRightToPersons": {
      "type": "object",
      "additionalProperties": false
    },
    "Communications": {
      "type": "object",
      "additionalProperties": false
    },
    "PersonInRooms": {
      "type": "object",
      "additionalProperties": false
    },
    "Keys": {
      "type": "object",
      "additionalProperties": false
    },
    "EmployeeFunction": {
      "allOf": [
        {
          "$ref": "#/definitions/EmployeeFunctionBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "EmployeeFunctionBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "BackgroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 50
        },
        "FloorSpaceRequired": {
          "type": "number",
          "format": "decimal"
        },
        "ForegroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Name": {
          "type": "string",
          "maxLength": 150,
          "minLength": 1
        },
        "Pattern": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PersonType": {
      "allOf": [
        {
          "$ref": "#/definitions/PersonTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PersonTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "BackgroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1
        },
        "ForegroundColor": {
          "type": "integer",
          "format": "int32"
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Pattern": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkflowTicket": {
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowTicketBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "WorkflowTicketBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "ServiceStep",
        "Workflow",
        "WorkflowRole",
        "TicketCreateDate",
        "TicketName",
        "TicketNo",
        "WorkflowStartDate"
      ],
      "properties": {
        "Id": {
          "type": "string",
          "format": "guid",
          "minLength": 1
        },
        "Orders": {
          "$ref": "#/definitions/Orders"
        },
        "WorkflowTicketHistories": {
          "$ref": "#/definitions/WorkflowTicketHistories"
        },
        "IncomingInvoices": {
          "$ref": "#/definitions/IncomingInvoices"
        },
        "ServiceTickets": {
          "$ref": "#/definitions/ServiceTickets"
        },
        "Moves": {
          "$ref": "#/definitions/Moves"
        },
        "ServiceStep": {
          "$ref": "#/definitions/ServiceStep"
        },
        "Workflow": {
          "$ref": "#/definitions/Workflow"
        },
        "WorkflowRole": {
          "$ref": "#/definitions/WorkflowRole"
        },
        "PlannedFinishOfworkflow": {
          "type": "string",
          "format": "date-time"
        },
        "TicketCreateDate": {
          "type": "string",
          "format": "date-time",
          "minLength": 1
        },
        "TicketName": {
          "type": "string",
          "maxLength": 500,
          "minLength": 1
        },
        "TicketNo": {
          "type": "string",
          "maxLength": 18,
          "minLength": 1
        },
        "WorkflowCompletedOn": {
          "type": "string",
          "format": "date-time"
        },
        "WorkflowStartDate": {
          "type": "string",
          "format": "date-time",
          "minLength": 1
        },
        "WorkflowTable": {
          "type": "string",
          "maxLength": 50
        }
      }
    },
    "Orders": {
      "type": "object",
      "additionalProperties": false
    },
    "WorkflowTicketHistories": {
      "type": "object",
      "additionalProperties": false
    },
    "IncomingInvoices": {
      "type": "object",
      "additionalProperties": false
    },
    "ServiceTickets": {
      "type": "object",
      "additionalProperties": false
    },
    "Moves": {
      "type": "object",
      "additionalProperties": false
    },
    "ServiceStep": {
      "allOf": [
        {
          "$ref": "#/definitions/ServiceStepBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "ServiceStepBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Workflow",
        "Active",
        "ArchivedInServicelist",
        "Code",
        "DisplayName",
        "Name",
        "PossibleStartServicestep",
        "SystemServiceStep",
        "Workflow_uid",
        "Workflowstep_uid"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "EscalationLevels": {
          "$ref": "#/definitions/EscalationLevels"
        },
        "AuthorizationInWorkflowsteps": {
          "$ref": "#/definitions/AuthorizationInWorkflowsteps"
        },
        "FollowUpServiceSteps": {
          "$ref": "#/definitions/FollowUpServiceSteps"
        },
        "CompulsoryFieldsForWorkflowSteps": {
          "$ref": "#/definitions/CompulsoryFieldsForWorkflowSteps"
        },
        "Workflow": {
          "$ref": "#/definitions/Workflow"
        },
        "WorkflowStepType": {
          "$ref": "#/definitions/WorkflowStepType"
        },
        "Active": {
          "type": "boolean"
        },
        "ArchivedInServicelist": {
          "type": "boolean"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "DisplayName": {
          "type": "string",
          "maxLength": 250,
          "minLength": 1
        },
        "DurationBinding": {
          "type": "boolean"
        },
        "Durationh": {
          "type": "number",
          "format": "decimal"
        },
        "Name": {
          "type": "string",
          "maxLength": 250,
          "minLength": 1
        },
        "PossibleStartServicestep": {
          "type": "boolean"
        },
        "SystemServiceStep": {
          "type": "boolean",
          "readOnly": true
        },
        "Workflow_uid": {
          "type": "string",
          "readOnly": true,
          "format": "guid",
          "minLength": 1
        },
        "Workflowstep_uid": {
          "type": "string",
          "readOnly": true,
          "format": "guid",
          "minLength": 1
        }
      }
    },
    "EscalationLevels": {
      "type": "object",
      "additionalProperties": false
    },
    "AuthorizationInWorkflowsteps": {
      "type": "object",
      "additionalProperties": false
    },
    "FollowUpServiceSteps": {
      "type": "object",
      "additionalProperties": false
    },
    "CompulsoryFieldsForWorkflowSteps": {
      "type": "object",
      "additionalProperties": false
    },
    "Workflow": {
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "WorkflowBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "UserGroup",
        "Active",
        "ApertureWorkflow",
        "Code",
        "Version",
        "WorkflowUid"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Workflows": {
          "$ref": "#/definitions/Workflows"
        },
        "WorkflowRoles": {
          "$ref": "#/definitions/WorkflowRoles"
        },
        "ServiceSteps": {
          "$ref": "#/definitions/ServiceSteps"
        },
        "Entity": {
          "$ref": "#/definitions/EtaskEntity"
        },
        "MainWorkflow": {
          "$ref": "#/definitions/Workflow"
        },
        "ServiceStep": {
          "$ref": "#/definitions/ServiceStep"
        },
        "UserGroup": {
          "$ref": "#/definitions/UserGroup"
        },
        "Active": {
          "type": "boolean"
        },
        "ApertureWorkflow": {
          "type": "boolean",
          "readOnly": true
        },
        "Code": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50,
          "minLength": 1
        },
        "ServiceName": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50
        },
        "Version": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "WorkflowUid": {
          "type": "string",
          "readOnly": true,
          "format": "guid",
          "minLength": 1
        }
      }
    },
    "Workflows": {
      "type": "object",
      "additionalProperties": false
    },
    "WorkflowRoles": {
      "type": "object",
      "additionalProperties": false
    },
    "ServiceSteps": {
      "type": "object",
      "additionalProperties": false
    },
    "EtaskEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/EtaskEntityBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "EtaskEntityBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "CanBeInventoried",
        "Name",
        "ObjectExplorer",
        "Obsolete",
        "OrderOfDataUpdate",
        "TranslationMissing",
        "Type",
        "UpdateSettings"
      ],
      "properties": {
        "Id": {
          "type": "string",
          "format": "guid",
          "minLength": 1
        },
        "WebformSections": {
          "$ref": "#/definitions/WebformSections"
        },
        "Namespace": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/Application"
            }
          ]
        },
        "ParentEntity": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/EtaskEntity"
            }
          ]
        },
        "CanBeInventoried": {
          "type": "boolean",
          "readOnly": true
        },
        "Configuration": {
          "type": "string",
          "readOnly": true
        },
        "CshKeyOftable": {
          "type": "string",
          "readOnly": true,
          "maxLength": 255
        },
        "CshKeyOfwebform": {
          "type": "string",
          "readOnly": true,
          "maxLength": 255
        },
        "Description": {
          "type": "string",
          "readOnly": true,
          "maxLength": 255
        },
        "Name": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50,
          "minLength": 1
        },
        "ObjectExplorer": {
          "type": "boolean",
          "readOnly": true
        },
        "Obsolete": {
          "type": "boolean",
          "readOnly": true
        },
        "OrderOfDataUpdate": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "SystemName": {
          "type": "string",
          "readOnly": true,
          "maxLength": 255
        },
        "TranslationMissing": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "Type": {
          "type": "string",
          "readOnly": true,
          "maxLength": 10,
          "minLength": 1
        },
        "UpdateSettings": {
          "type": "integer"
        },
        "XmlConfigurationOfpage": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WebformSections": {
      "type": "object",
      "additionalProperties": false
    },
    "Application": {
      "allOf": [
        {
          "$ref": "#/definitions/ApplicationBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "ApplicationBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "ApplicationName",
        "Code",
        "Obsolete"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "EtaskEntities": {
          "$ref": "#/definitions/EtaskEntities"
        },
        "ApplicationName": {
          "type": "string",
          "readOnly": true,
          "maxLength": 50,
          "minLength": 1
        },
        "Code": {
          "type": "string",
          "readOnly": true,
          "maxLength": 4,
          "minLength": 1
        },
        "Description": {
          "type": "string",
          "readOnly": true,
          "maxLength": 1000
        },
        "Obsolete": {
          "type": "boolean",
          "readOnly": true
        },
        "SqlFolder": {
          "type": "string",
          "maxLength": 255
        },
        "SystemName": {
          "type": "string",
          "readOnly": true,
          "maxLength": 255
        }
      }
    },
    "EtaskEntities": {
      "type": "object",
      "additionalProperties": false
    },
    "UserGroup": {
      "allOf": [
        {
          "$ref": "#/definitions/UserGroupBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "UserGroupBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "AdministratorGroup",
        "AutomaticGroup",
        "Code",
        "CreationDate",
        "GroupMailReceptionactive",
        "Name",
        "ServiceGroup",
        "StandardGroup"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "UsersInGroups": {
          "$ref": "#/definitions/UsersInGroups"
        },
        "AccessRightAssetTradeGroups": {
          "$ref": "#/definitions/AccessRightAssetTradeGroups"
        },
        "CompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "UserGroupType": {
          "$ref": "#/definitions/UserGroupType"
        },
        "AdministratorGroup": {
          "type": "boolean"
        },
        "AutomaticGroup": {
          "type": "boolean"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "minLength": 1
        },
        "GroupEMailBox": {
          "type": "string",
          "maxLength": 100
        },
        "GroupMailReceptionactive": {
          "type": "boolean"
        },
        "Name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 1
        },
        "ServiceGroup": {
          "type": "boolean"
        },
        "StandardGroup": {
          "type": "boolean"
        }
      }
    },
    "UsersInGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "AccessRightAssetTradeGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "UserGroupType": {
      "allOf": [
        {
          "$ref": "#/definitions/UserGroupTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "UserGroupTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "UserGroups": {
          "$ref": "#/definitions/UserGroups"
        },
        "Code": {
          "type": "string",
          "maxLength": 30,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "WorkflowStepType": {
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowStepTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "WorkflowStepTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 50
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "WorkflowRole": {
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowRoleBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "WorkflowRoleBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Workflow",
        "Active",
        "RoleName",
        "StandardRole",
        "SystemName"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "CastingWorkflowRoles": {
          "$ref": "#/definitions/CastingWorkflowRoles"
        },
        "AuthorizationInWorkflowsteps": {
          "$ref": "#/definitions/AuthorizationInWorkflowsteps"
        },
        "Workflow": {
          "$ref": "#/definitions/Workflow"
        },
        "Active": {
          "type": "boolean"
        },
        "RoleName": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "StandardRole": {
          "type": "boolean"
        },
        "StarRole": {
          "type": "boolean"
        },
        "SystemName": {
          "type": "boolean"
        }
      }
    },
    "CastingWorkflowRoles": {
      "type": "object",
      "additionalProperties": false
    },
    "Salutation": {
      "allOf": [
        {
          "$ref": "#/definitions/SalutationBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "SalutationBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "FormOfAddress"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "FormOfAddress": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "Site": {
      "allOf": [
        {
          "$ref": "#/definitions/SiteBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "SiteBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Country",
        "City",
        "Code",
        "Name",
        "Street",
        "ZipCode"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Buildings": {
          "$ref": "#/definitions/Buildings"
        },
        "BuildingGroups": {
          "$ref": "#/definitions/BuildingGroups"
        },
        "ParkingSpaces": {
          "$ref": "#/definitions/ParkingSpaces"
        },
        "LocationAssessments": {
          "$ref": "#/definitions/LocationAssessments"
        },
        "Country": {
          "$ref": "#/definitions/Country"
        },
        "HierarchicalLevel": {
          "$ref": "#/definitions/PortfolioLevel3"
        },
        "ManagerCompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "ManagerContactPerson": {
          "$ref": "#/definitions/Person"
        },
        "OwnerCompanyAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "OwnerContactPerson": {
          "$ref": "#/definitions/Person"
        },
        "PortfolioCategory": {
          "$ref": "#/definitions/PortfolioCategory"
        },
        "PortfolioGroup": {
          "$ref": "#/definitions/PortfolioGroup"
        },
        "PortfolioType": {
          "$ref": "#/definitions/PortfolioType"
        },
        "CadastralRegisterNo": {
          "type": "string",
          "maxLength": 5
        },
        "CadOid": {
          "type": "string",
          "maxLength": 18
        },
        "City": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Code": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1
        },
        "ContactPerson": {
          "type": "string",
          "maxLength": 50
        },
        "CostCenter": {
          "type": "string",
          "maxLength": 50
        },
        "DoNotCalculateOperatingCosts": {
          "type": "boolean"
        },
        "Email": {
          "type": "string",
          "maxLength": 50
        },
        "FloorSpaceRatio": {
          "type": "number",
          "format": "decimal"
        },
        "IfcGlobalId": {
          "type": "string",
          "maxLength": 22
        },
        "Latitude": {
          "type": "string",
          "maxLength": 50
        },
        "Longitude": {
          "type": "string",
          "maxLength": 50
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Parcel": {
          "type": "string",
          "maxLength": 50
        },
        "Phone1": {
          "type": "string",
          "maxLength": 25
        },
        "Phone2": {
          "type": "string",
          "maxLength": 25
        },
        "ProfitCenter": {
          "type": "string",
          "maxLength": 50
        },
        "Remark": {
          "type": "string",
          "maxLength": 1000
        },
        "SiteCoverageIndex": {
          "type": "number",
          "format": "decimal"
        },
        "Street": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "TimeZone": {
          "type": "string",
          "maxLength": 50
        },
        "ZipCode": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1
        }
      }
    },
    "BuildingGroups": {
      "type": "object",
      "additionalProperties": false
    },
    "LocationAssessments": {
      "type": "object",
      "additionalProperties": false
    },
    "Country": {
      "allOf": [
        {
          "$ref": "#/definitions/CountryBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "CountryBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "IsoCode",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Code": {
          "type": "string",
          "maxLength": 3,
          "minLength": 1
        },
        "IsoCode": {
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "PortfolioLevel3": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioLevel3Base"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioLevel3Base": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Sites": {
          "$ref": "#/definitions/Sites"
        },
        "HierarchicalLevel": {
          "$ref": "#/definitions/PortfolioLevel2"
        },
        "Code": {
          "type": "string",
          "maxLength": 3,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "Sites": {
      "type": "object",
      "additionalProperties": false
    },
    "PortfolioLevel2": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioLevel2Base"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioLevel2Base": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "PortfolioLevel3s": {
          "$ref": "#/definitions/PortfolioLevel3s"
        },
        "HierarchicalLevel1": {
          "$ref": "#/definitions/PortfolioLevel1"
        },
        "Code": {
          "type": "string",
          "maxLength": 10,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "PortfolioLevel3s": {
      "type": "object",
      "additionalProperties": false
    },
    "PortfolioLevel1": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioLevel1Base"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioLevel1Base": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "PortfolioLevel2s": {
          "$ref": "#/definitions/PortfolioLevel2s"
        },
        "Country": {
          "$ref": "#/definitions/Country"
        },
        "Code": {
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "PortfolioLevel2s": {
      "type": "object",
      "additionalProperties": false
    },
    "PortfolioCategory": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioCategoryBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioCategoryBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Sites": {
          "$ref": "#/definitions/Sites"
        },
        "PortfolioTypes": {
          "$ref": "#/definitions/PortfolioTypes"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 1
        }
      }
    },
    "PortfolioTypes": {
      "type": "object",
      "additionalProperties": false
    },
    "PortfolioGroup": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioGroupBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioGroupBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "Code",
        "Name",
        "TerminalValueFactormultiplier"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Sites": {
          "$ref": "#/definitions/Sites"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "Name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 1
        },
        "TerminalValueFactormultiplier": {
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "PortfolioType": {
      "allOf": [
        {
          "$ref": "#/definitions/PortfolioTypeBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "PortfolioTypeBase": {
      "type": "object",
      "x-abstract": true,
      "additionalProperties": false,
      "required": [
        "Id",
        "PortfolioCategory",
        "Code",
        "DiscountRate",
        "Name"
      ],
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32"
        },
        "Sites": {
          "$ref": "#/definitions/Sites"
        },
        "PortfolioCategory": {
          "$ref": "#/definitions/PortfolioCategory"
        },
        "Code": {
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "DiscountRate": {
          "type": "number",
          "format": "decimal"
        },
        "Name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 1
        }
      }
    },
    "DataSourcesOfPersonData": {
      "allOf": [
        {
          "$ref": "#/definitions/DataSourcesOfPersonDataBase"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "DataSourcesOfPersonDataBase": {
      "type": "object",
[...]
